
body {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #ebc9a2;
}

.login-input {
  margin: auto;
  width: 30%;
  border:3px solid #8AC007;
  padding: 10px;
  display: block;
  height: 37px;
  color: white;
  background: #2b3e5d;
  border-top-color: #0d1827;
  border-radius: 4px;
}

.login-submit {
  margin: auto;
  width: 30%;
  border:3px solid #8AC007;
  padding: 10px;
  display: block;
  height: 37px;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  background: #adcbfa;
  border: 1px solid #284473;
  border-bottom-color: #223b66;
}

.login-submit-out {
  margin: auto;
  width: 30%;
  border:3px solid #8AC007;
  padding: 10px;
  display: block;
  height: 37px;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  background: #adcbfa;
  border: 1px solid #284473;
  border-bottom-color: #223b66;
}

